.cloud_box {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, 20%);
  height: 75vh;
  width: 95vw;
}

.cloud_left {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  width: 15vw;
  background-color: #ffffffcb;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
  overflow: hidden;
}

.cloud_title {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 2vh;
  font-size: 1.7vw;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #808080;
}

.cloud_folder {
  width: 100%;
  height: 550px;
  align-self: flex-start;
  margin-top: 100px;
  overflow-y: auto;
  font-size: larger;
}

.cloud_volume {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  width: 15vw;
  background-color: #ffffffcb;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
  justify-content: center;
  font-size: large;
}

.cloud_linearprogress {
  position: relative;
  width: 90%;
  margin-top: 2vh;
}



.cloud_right {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 18%;
  height: 75vh;
  width: 78vw;
  background-color: #ffffffcb;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
  align-items: flex-start;
  overflow: hidden;
}

.cloud_buttons {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 45vw;
  right: 0px;
  white-space: nowrap;
}

.cloud_list {
  padding-top: 20px;
  position: absolute;
  height: 650px;
  width: 78vw;
  left: 20px;
  bottom: 20px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

.cloud_list_info {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4vh;
  width: 98%;
  left: 10px;
  white-space: nowrap;
}

.cloud_list_info_name {
  margin-right: 10px;
  padding-right: 300px;
  border-right: 1px solid #dadada;
}

.cloud_list_info_date {
  margin-right: 10px;
  padding-right: 300px;
  border-right: 1px solid #dadada;
}

.cloud_back {
  position: absolute;
  width: 3vw;
  height: 5vh;
  cursor: pointer;
  top: -13%;
  white-space: nowrap;
  text-decoration: underline;
}

.cloud_currentPath {
  width: 15vw;
  height: 5vh;
  margin-top: 1.7vh;
  margin-left: 1.5vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: larger;
}

.cloud_goback {
  transform: rotate(90deg);
  width: 2vw;
  height: 3vh;
  cursor: pointer;
  margin-left: 1vw;
  position: relative;
}

.cloud_warning {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: smaller;
}

.clickable {
  cursor: pointer;
}



.folder-node {
  margin-left: 1.5vw;
  display: flex;
  align-items: center;
}

.folder-node:hover {
  cursor: pointer;
}

.icon {
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.depth-0 .icon {
  background-image: url('../images/folder.png');
  background-size: 25px 25px;
}

.depth-1 .icon {
  padding-left: 15px;
  background-image: url('../images/folderarrow.png'), url('../images/folder.png');
  background-position: left 0px center, left 15px center;
  background-size: 16px 16px, 25px 25px;
}

.depth-2 .icon {
  padding-left: 15px;
  background-image: url('../images/folderarrow.png'), url('../images/folder.png');
  background-position: left 0px center, left 15px center;
  background-size: 16px 16px, 25px 25px;
}

.depth-3 .icon {
  padding-left: 15px;
  background-image: url('../images/folderarrow.png'), url('../images/folder.png');
  background-position: left 0px center, left 15px center;
  background-size: 16px 16px, 25px 25px;
}

.depth-0 {
  padding-left: 7px;
}

.depth-1 {
  padding-left: 20px;
}

.depth-2 {
  padding-left: 40px;
}

.depth-3 {
  padding-left: 60px;
}

.sort-indicator {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.sort-indicator.asc {
  border-top: 5px solid black;
}

.sort-indicator.desc {
  border-bottom: 5px solid black;
}

.category {
  position: relative;
  height: 650px;
  width: 1460px;
  overflow: hidden;
  overflow-x: hidden;
}

.cell {
  overflow-y: auto;
  height: 595px;
  width: 1460px;
}

.table {
  border: none;
  width: 1450px;
  border-collapse: collapse;
}

.table thead,
.table tbody {
  display: block;
}

/* .table,
.table th,
.table td {
  border: none;
  padding: 0;
  overflow-y: auto;
} */

.table th,
.table td {
  width: 240px;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.table tbody {
  overflow-y: auto;
}

.table tr:nth-child(even) {
  background-color: #eeeeee;
}

.scroll-container table {
  margin-top: -1px;
}