.sheetdownload_box {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, 20%);
  height: 75vh;
  width: 70vw;
  background-color: #ffffffcb;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
  overflow-y: scroll;
}

.sheetdownload_guidebox {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* background-color: blueviolet; */
  left: 50%;
  transform: translate(-50%, 7%);
  width: 55vw;
}




.sheetdownload_specbox {
  /* background-color: aquamarine; */
  display: flex;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 7vh;
}

.sheetdownload_userinfobox {
  /* background-color: rgb(141, 141, 141); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 35vh;
}

.sheetdownload_userinfo1 {
  width: 26vw;
  height: 33vh;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
}




table {
  border-top: 1px solid #444444;
  border-collapse: collapse;
  font-size: 0.8vw;
  white-space: nowrap;
}

th, td {
  border-bottom: 1px solid #444444;
  padding: 1vh;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  text-align: center;
}



.sheetdownload_buttons {
  height: 13vh;
  width: 21vw;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheetdownload_title {
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 5vh;
  margin-top: 1.5vh;
}

.sheetdownload_subtitle {
  font-size: 1.4vw;
  font-weight: bold;
}

.sheetdownload_letterbox {
  /* background-color: aquamarine; */
  display: flex;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vw;
  margin-bottom: 7vh;
  flex-direction: column;
  justify-content: space-between;
  height: 19vh;
  font-size: 1.1vw;
  font-weight: 500;
}

.sheetdownload_back {
  position: fixed;
  width: 3vw;
  height: 5vh;
  left: 0.5vw;
  top: 1vh;
  cursor:pointer;
}

.sheetdownload_videobox {
  display: flex;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
  justify-content: center;
}

.sheetdownload_video {
  position: relative;
  width: 49vw;
  height: 50vh;
}