.sheet_box {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, 20%);
  height: 75vh;
  width: 70vw;
  background-color: #ffffffcb;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
}

.sheet_imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1.5px solid #808080;
  height: 70vh;
  width: 30vw;
  margin-top: 2.5vh;
}

.sheet_img {
  width: 20vw;
  height: 35vh;
}

.sheet_name {
  margin-top: 2vh;
  font-size: 2.5vw;
  font-weight: bold;
}

.sheet_move {
  /* background-color: rgb(0, 87, 87); */
  width: 40vw;
  height: 60vh;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sheet_down {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #12A3CC;
  border-radius: 10px;
}

.sheet_data {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #12A3CC;
  border-radius: 10px;
  margin-top: 5vh;
}

.sheet_title {
  font-size: 1.7vw;
  font-weight: bold;
}

.sheet_explainbox {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24vw;
  height: 7vh;
  /* padding-left: 1vw; */
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.sheet_explain {
  padding-left: 1.2vh;
}

.sheet_buttons {
  /* margin-bottom: 3vh; */
}

.sheet_back {
  position: fixed;
  width: 3vw;
  height: 5vh;
  left: 0.5vw;
  top: 1vh;
  cursor:pointer;
}